body {
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 0;
}

.header {
    background-color: black;
    color: white;
    padding: 15px;
}

.header h1 {
    margin: 0;
}

.container {
    margin: 20px;
}

.product-grid {
    display: flex;
}

.card {
    background-color: white;
    width: 900px;
    margin-right: 20px;
    padding: 40px;
    text-align: center;
    border: 1px solid #ddd;
}

.card img {
    width: 100%;
    height: 150px;
}

.price {
    color: green;
    font-weight: bold;
}

button {
    background-color: orange;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.cart-link {
    background: orange;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
    float:right

}
.cart-link:hover {
    background: darkorange;
}

