{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="header">
    <h1>My Store</h1>
    <a href="{% url 'cart' %}" class="cart-link"> Cart</a>
</div>

<div class="container">

    <div class="product-grid">
        {% for product in products %}
        <div class="card">

            {% if product.image %}
                <img src="{{ product.image.url }}">
            {% endif %}

            <h3>{{ product.name }}</h3>
            <p class="price">₹ {{ product.price }}</p>

            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <button type="submit">Add to Cart</button>
            </form>

        </div>
        {% endfor %}
    </div>

</div>

</body>
</html>
